@page
@model furShop.Pages.Catalog

@{
    Layout = null;
}

<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.model').show();
        setTimeout(function() {
            $('.model').hide();
        }, 3000);
    });
</script>
<html>
<head>
    <title>Каталог</title>
    <link rel="stylesheet" href="~/css/reg.css">
</head>
<body>
<div>
    <header>
        <h2><p><a href="/Index">Главная</a></p></h2>
        <h2><p><a href="/Basket">Корзина</a></p></h2>
        <h1>Каталог</h1>
        <h2><p><a href="/Register">Регистрация</a></p></h2>
        <h2><p><a href="/Login">Авторизоваться</a></p></h2>
    </header>
    <div class="line"></div>
    <div class="model">@Catalog.Message</div>
    <div class="containerCatalog">
        @if (Catalog.Furnitures != null && Catalog.Furnitures.Any())
        {
            <ul>
                @foreach (var item in Catalog.Furnitures)
                {
                    <li>
                        <h2>@item.Name</h2>
                        <p>@item.Description</p>
                        <p>Цена: @item.Price</p>
                        @if (!string.IsNullOrEmpty(item.ImagePath))
                        {
                            <img src="~/images/@item.ImagePath" width="100" height="100"/>
                        }
                        <form method="post">
                            <input type="hidden" name="itemId" value="@item.Id"/>
                            <input type="hidden" name="itemName" value="@item.Name"/>
                            <input type="hidden" name="itemPrice" value="@item.Price"/>
                            <input type="submit" value="Добавить в корзину"/>
                            @Catalog.Message
                        </form>
                        
                    </li>
                }
            </ul>
        }
        else
        {
            <p>Нет доступной мебели.</p>
        }
    </div>
</div>
</body>
</html>